
.header{
    display: flex;
    align-items: center;
    background-color: rgb(141, 177, 179);
}

.title{
    margin-left: 50px;
    margin-right: 150px;
    font-size: 20px;
}

.header a {
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

@media screen  and (max-width: 767px){
    .header{
        display: block;
        text-align: center;
        margin: 0;
    }
    .title{
        margin-right: 10px;
    }
}